#gameContainer {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
}

.pixel {
  border: 1px solid #000;
}

.food {
  background-color: #ff0000;
}

.snakeBodyPixel {
  background-color: #000;
}

.scoreBoard {
  text-align: center;
}